* {
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: left;
}
ul li {
  float: left;
}
ul li a {
  text-decoration: none;
  display: block;
  padding: 25px;
  color: #fff;
  text-align: center;
}
ul li a:hover {
  background-color: #699;
  text-decoration: none;
  color: #ffc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', cursive;
  padding: 10px 0;
  margin: 0 20px;
  line-height: 50px;
}
p {
  padding: 5px 0;
  margin: 0 20px;
}
.myjumbotron {
  padding-top: 25px;
  padding-bottom: 35px;
  color: inherit;
  background-color: rgba(204,255,102,0.5);
  margin-top: 15px;
  margin-bottom: 40px;
}
.myjumbotron h1 {
  text-align: center;
}
#jumbo-p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 200;
}
#jumbo-p-h1 {
  font-size: 55px;
}
.call-to-action {
  display: flex;
  justify-content: center;
}
.call-to-action a {
  font-size: 1.2em;
  padding: 10px 15px;
  color: #008000;
  background-color: rgba(119,179,0,0.5);
}
.panel-container {
  display: flex;
  justify-content: space-between;
}
.panel-container-form {
  display: flex;
  justify-content: center;
}
.mypanel {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #008000;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.mypanel-form {
  border: 1px solid #008000;
  border-radius: 10px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50%;
}
.mypanel img {
  width: 200px;
  height: 200px;
}
.mypanel span {
  padding: 10px;
}
#label-subs {
  margin-top: 0px;
  font-size: 35px;
}
.form-group input {
  border: 1px solid #008000;
  border-radius: 4px;
  width: 100%;
}
.form-group input[type=text] {
  padding: 5px;
}
.form-group textarea {
  border: 1px solid #008000;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
}
