@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
}

.container{
  margin-left: 15px;
  margin-right: 15px;
}

/* input */
input[type=text] {
   /* Awesome styling */
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-size: 15px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
    resize: none;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    background-color: #f1f1f1;
}

/* header */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
}

/* paragraf */
p {
  font-family: "Roboto";
}

/* button */
.btn{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px
}

.btn.btn-green{
  background-color: #4CAF50; /* Green */
}

.btn.btn-red{
  background-color: #DC143C; /* Red Crismon */
}

.btn.btn-blue{
  background-color: #0000CD; /* Medium blue */

}

/* navbar */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.nav li a:hover:not(.active) {
    background-color: white;
    color: #4CAF50;
}

.nav .active {
    background-color: #4CAF50;
}

.nav .right{
  float: right;
}

/* pagination */
.pagination {
    display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a:hover{
  background-color: green;
  color: white;
}

/* hr */
hr{
  margin-bottom: 15px;
}

/* center */
.center{
  margin-left: 0;
  margin-right: 0;
}
.text-center{
  text-align: center;
}

/* img */
.img-container{
  width: 100%;
  height: 500px;
  background-size: cover;
}

/* items */
.item-container{
  width: 100%
}

.item-container .item{
  float: left;
  height: 100px;
  width: 30%;
  margin-left: 15px;
  margin-right: 15px;
}
